.vs
.idea

Bin
bin
obj

Debug
Release

netcoreapp3.1
net5.0
net6.0
net7.0

Library
Logs
Temp
UserSettings

*.user
*.nuget.*
*.csproj.user
UniRecast/*.csproj
UniRecast/*.sln
.fake

Tools/PullDotRecast/pull.bat